In [7]:
# Import Dependencies
import pandas as pd

In [21]:
# Make a reference to the books.csv file path
csv_path = "Resources/03-Python_Homework_Instructions_PyBank_Resources_budget_data.csv"

# Import the budget.csv file as a DataFrame
bank_df = pd.read_csv(csv_path, encoding="utf-8")
bank_df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [22]:
# Finding the total number of months in the dataset
len(bank_df["Date"])

86

In [17]:
# Finding the net total amount of "Profit/Losses" over the entire period
bank_df["Profit/Losses"].sum()

38382578

In [18]:
# Finding average of the changes in "Profit/Losses" over the entire period

bank_df["Profit/Losses"].mean()

446309.0465116279

In [19]:
# Finding the greatest increase in profits (date and amount) over the entire period
bank_df["Profit/Losses"].max()

1170593

In [20]:
# greatest decrease in losses (date and amount) over the entire period

bank_df["Profit/Losses"].min()

-1196225

In [ ]:
bank_df.to_csv("Output/budget_clean.csv", index=False, header=True)